body {
  margin: 0 auto;
  width: 1020px;
  font-family: "Lato";
}

.feedback {
  width: 100%;
  height: 654px;
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #e9676b;
  padding: 5px 30px 0 30px;
  color: #f0d8d9;
}

.feedback h2 {
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 17px;
  font-weight: 900;
  text-align: left;
  margin: 0;
  padding: 65px 0 10px 10px; 
}

.portfolio p,
.about p,
.feedback p {
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.feedback p {
  color: #f0d8d9;;
}

.form-and-contact-block {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

form {
  width: 620px;
  margin: 30px 10px 0;
  padding: 0;
  font-weight: 400;
}

fieldset {
  width: 100%;
  background-color: #f06c64;
  border:none;
  margin: 0;
  padding: 0;
  color: #f0d8d9;
}

input:focus {
  background: #eaeaea;
  outline: none;
}

input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 13px 15px;
  margin:0 0 15px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #d6564f;
  color: #f0d8d9;
}

textarea {
  width: 100%;
  height: 200px;
  background-color: #d6564f;
  border-radius: 5px;
  overflow: auto;
  margin: 0 0 10px;
  border: none;
  font-family: 'Lato', sans-serif;
  padding: 12px 0 0 14px;
  font-size: 12px;
  box-sizing: border-box;
  color: #f48c8f;
}

textarea:active, textarea:focus {
  outline: none;
}

.contact-info {
  margin: 30px 10px 0;
  width: 300px;
  color: #f0d8d9;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin: 0;
}

.feedback h3+p {
  font-size: 12px;
  line-height: 22px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.contact-list{
  list-style-type: none;
  color: #f0d8d9;
  padding-top: 21px;
  padding-left: 15px;
  margin: 0;
}

.contact-list>li{
  margin-top: 4px;
  font-size: 12px;

}

.contact-list>.location{
  list-style-image: url(./assets/img/location.png);
  padding-top: 1px;
  padding-left: 2px;

}

.contact-list>.phone{
  list-style-image: url(./assets/img/phone2.png);
  padding-top: 4px;
  margin-left: 2px;
}

.contact-list>.mail{
  list-style-image: url(./assets/img/mail.png);
  margin-top: 8px;
  margin-left: 2px;
}

.contact-list .phone>a,
.contact-list .mail>a {
  text-decoration: none;
  color: #f0d8d9;
  margin-left: 6px;
}

.contact-list .phone>span,
.contact-list .location>span {
  margin-left: 6px;
}

footer {
  height: 75px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer p {
  font-size: 12px;
  color: #5e657e;
  margin-left: 42px;
  letter-spacing: -0.2px;
}

footer .social-info {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0px;
  justify-content: flex-end;
  margin-right: 30px;
}

.social-info img {
  width: 31px;
  height: 30px;
  margin-right: 9px;
}

.social-info img:hover {
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}


/* .image-choice-button {
  background-color: #2d2f39;
  color: #767e9e;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0;
  font-weight: 400;
  border: 1px solid #4f5468;
  border-radius: 6px;
  padding: 0 6px;
  margin-right: 10px;
}

.image-choice-button:hover,
.image-choice-button:active {
  color: #dedede;
  cursor: pointer;
  border: 1px solid #dedede;;
}

.portfolio-images-block {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  padding-top: 18px;
}

.portfolio-image {
  margin: 0 10px 20px;
  background-color: #464b5e;
  width: 220px;
  height: 187px;
}

.img1 {
  background-image: url("assets/img/portfolio1.png");
  background-position: -5px -12px;
}

.img2 {
  background-image: url("assets/img/portfolio2.png");
  background-position: -80px -44px;
}

.img3 {
  background-image: url("assets/img/portfolio3.png");
  background-position: -10px -2px;
}

.img4 {
  background-image: url("assets/img/portfolio4.png");
  background-position: -23px -3px;
}

.img5 {
  background-image: url("assets/img/portfolio5.png");
  background-position: -7px -15px;
}

.img6 {
  background-image: url("assets/img/portfolio6.png");
  background-position: -15px -5px;
}

.img7 {
  background-image: url("assets/img/portfolio7.png");
  background-position: -29px -38px;
}

.img8 {
  background-image: url("assets/img/portfolio8.png");
  background-position: -25px -32px;
}

.img9 {
  background-image: url("assets/img/portfolio9.png");
  background-position: -15px -3px;
}

.img10 {
  background-image: url("assets/img/portfolio10.png");
  background-position: -139px -112px;
}

.img11 {
  background-image: url("assets/img/portfolio11.png");
  background-position: -145px -175px;
}

.img12 {
  background-image: url("assets/img/portfolio12.png");
  background-position: -35px -59px;
}

.about {
  height: 737px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 3px 30px 0;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
  
}

.team {
  width: 100%;
  height: 450px;
  padding-top: 32px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.team-member {
  width: 300px;
  overflow: hidden;
  margin: 0 10px;
}

.team-member-photo {
  width: 300px;
  height: 301px;
}

.member-one {
  background-image: url("assets/img/photo1.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}

.member-two {
  background-image: url("assets/img/photo2.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}

.member-three {
  background-image: url("assets/img/photo3.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}

.about h3 {
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  white-space: nowrap;
 }

.team-member p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  padding: 0;
  margin: -8px 0;
}

.social-info {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 32px;
  align-items: flex-start;
}

.social-info img {
  width: 31px;
  height: 30px;
  margin-right: 9px;
}

.social-info img:hover {
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}
 */


